<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
</head>

<body>
<h1>Добавить результат</h1>
<form action="/customer/order">
    <button>Личный кабинет</button>
</form>
<div>
        <form  method="post" action="">
            <p>Диагноз</p>
            <textarea name="diagnosis"></textarea>
            <br>
            <p>Терапия</p>
            <textarea name="therapy"></textarea>
            <br>
            <p>Пояснение</p>
            <textarea name="description"></textarea>
            <br>
            <input type="submit" value="Готово">
        </form>
</div>
</body>
</html>