<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Поликлиника</title>
</head>
<body>
    <h1>Поликлиника</h1><br>
    <form action="/login" target="_blank">
        <button>авторизация</button>
    </form>
    <br>
    <span th:text="${status}"></span>
    <div th:if="${status} == 'ROLE_USER'">
        <form  action="/customer/lk">
            <button>Личный кабинет</button>
        </form>
    </div>
    <div th:if="${status} == 'ROLE_DOCTOR'">
        <form action="/doctor/lk">
            <button>Личный кабинет</button>
        </form>
    </div>
    <br>
    <form action="/registration" target="_blank">
        <button>Регистрация</button>
    </form>

</body>
</html>